$lightBlue: #757ce8;
$mediumBlue: #3f50b5;
$darkBlue: #002884;
$white: #fff;
$lightRed: #ff7961;
$mediumRed: #f44336;
$darkRed: #ba000d;
$black: #000;

$border-color: rgba(0, 0, 0, 0.23);
$border: 1px solid $border-color;
